.button-rarity:hover {
    background-color: rgb(var(--primary-decimal, 0.4));
    color:black;
}

.button-rarity:focus {
    background-color: var(--primary);
}

.button-rarity:current {
    background-color: var(--primary);
    height: 250px;
}

.active-rarity {
    background-color: var(--primary);
    color:black;
}


.pill-link {
	display: inline-flex;
	align-items: center;
	font-size: 16px;
	border-radius: 9999px;
	padding: 5px 15px 5px 6px;
	text-decoration: none !important;
	transition: background-color .2s ease;
    cursor: default;
}

.pill-link__text {
	margin-left: 10px;
	letter-spacing: 0.02em
}

.font-source-code-pro .pill-link__text {
	font-size: 14px
}

/*
.pill-link--layer {
	background-color: rgb(var(--brown-winno-decimal), 0.12);
	color: var(--brown-winno);
}

.pill-link--layer:hover {
	background-color: rgb(var(--brown-winno-decimal), 0.185);
	color: var(--brown-winno)
}
*/


.pill-link--layer .pill-link__pill {
	background-color: #303030
}
.pill-link--layer .pill-link__icon svg * {
	fill: #303030
}

.pill-link__pill--layer {
	height: 24px;
	line-height: 24px;
	border-radius: 24px;
	padding: 0 7px;
	white-space: nowrap;
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.04em
}

.pill-link--nft .pill-link__pill {
	background-color: #303030
}
.pill-link--nft .pill-link__icon svg * {
	fill: #303030
}

.pill-link__pill--nft {
	height: 24px;
	line-height: 24px;
	border-radius: 24px;
	padding: 0 7px;
	white-space: nowrap;
	background-color: var(--black);
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.04em
}


.pill-link--opensea {
	background-color: #DFEAFE;
	color: var(--blue-opensea);
    cursor: pointer;
}

.pill-link--opensea:hover {
	background-color: #cbddfd;
	color: var(--blue-opensea);
}


.pill-link__pill--opensea {
	height: 24px;
	line-height: 24px;
	border-radius: 24px;
	padding: 0 7px;
	white-space: nowrap;
    background-color: var(--blue-opensea);
    color:white;
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.04em;
}

.pill-link--opensea .pill-link__icon--opensea svg * {
	fill: var(--blue-opensea)
}

.pill-link__icon {
	margin-left: 9px;
	height: 1em;
	width: 1em;
	-webkit-transform-origin: right center;
	transform-origin: right center;
	transition: -webkit-transform .2s ease;
	transition: transform .2s ease;
	transition: transform .2s ease, -webkit-transform .2s ease
}

.pill-link:hover .pill-link__icon {
	-webkit-transform: translateX(3px);
	transform: translateX(3px)
}

.pill-link__icon svg * {
	fill: var(--blue-opensea);
}