.flex-vertical {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'VT323', monospace;
    font-size: xx-large;
    color:var(--text-primary);
    /* background-color: red; */
}

.text-field-wallet {
    font-family: 'Press Start 2P', sans-serif;
    color: red;
}

.step-content {
    font-size: x-large;
}

.final-step-infos {
    font-size: x-large;
    text-align: center;
    display: flex;
    justify-content: center;
}

.final-step-label {
    font-size: x-large;
    font-weight: bold;
}

.final-step-value {
    font-size: x-large;
    font-weight: normal;
    font-style: italic;
    /*margin-right: 1vw;*/
}

.description-to-win  {
    /*padding: 10px;*/
    text-align: justify;
    list-style: none;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 3vh;
    /*background-color: blue;*/
    font-weight: bold;
    /*color: black;*/
}

.description-to-win li {
    background-color: var(--primary);
    text-align: center;
    padding: 3vh;
    color: black;
}

.description-to-win li:last-child { 
    background-color: var(--secondary); 
    color:var(--text-secondary);
 }

 .button-action {
    font-family: 'Press Start 2P', sans-serif;
    font-size: x-large;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: var(--primary);
}

.button-save {
    font-family: 'Press Start 2P', sans-serif;
    font-size: x-large;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: var(--blue-winno);
}

.Button {
    color: white;
  }

.button-save-player {
    font-family: 'Press Start 2P', sans-serif;
    font-size: x-large;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: var(--primary);
    color: black;
}

.button-start-game {
    font-family: 'Press Start 2P', sans-serif;
    font-size: x-large;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: var(--third);
    color: black;
}

.button-handle-next-stepper {
    font-family: 'Press Start 2P', sans-serif;
    font-size: x-small;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: var(--primary);
    color: black;
}

.button-handle-back-stepper {
    font-family: 'Press Start 2P', sans-serif;
    font-size: small;
    margin-top: 1vh;
    margin-bottom: 1vh;
    /*background-color: var(--primary);*/
    color: var(--primary);
}



.canvas {
    border: 4px solid black;
    /* display: none; 
    font-size: xx-large; 
    font-family: 'Press Start 2P', sans-serif;*/
    cursor: move;
    /*background: linear-gradient(to bottom, lightblue, blue, darkblue);*/
}

.div-error-game  {
    /*padding: 10px;*/
    text-align: center;
    /*
    margin-top: 5vh;
    margin-bottom: 5vh;
    */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: blue;*/
    font-weight: bold;
    color: red;
}

.step-label {
    color: var(--text-primary);
    font-family: 'VT323', monospace;
    font-size: x-large;
}