.div-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.description-game {
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: xx-large;
}

.button-action {
    font-family: 'Press Start 2P', sans-serif;
    font-size: medium;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.canvas {
    border: 4px solid black;
    /* display: none; */
    font-size: xx-large; 
    font-family: 'Press Start 2P', sans-serif;
    cursor: none;
    /*background: linear-gradient(to bottom, lightblue, blue, darkblue);*/
}