
.div-escape {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.story-game {
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: xx-large;
}

.button-action {
    font-family: 'Press Start 2P', sans-serif;
    font-size: medium;
}

.canvas {
    border: 4px solid black;
    display: none;
    font-size: xx-large; 
    font-family: 'Press Start 2P', sans-serif;
    cursor: none;
    /*background: linear-gradient(to bottom, lightblue, blue, darkblue);*/
}

.inputFill {
    color: black;
}

#score {
    font-size: xx-large;
    
}

#score {
    font-size: xx-large; 
    font-family: 'VT323', monospace;
}

#life {
    font-size: xx-large; 
    font-family: 'Press Start 2P', sans-serif;
}