.team-02__list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-bottom: -40px
}

.team-02__person {
	cursor: pointer;
	width: 500px;
	/*padding: 25px 20px 10px;
	margin: 0 20px 40px;*/
	border-radius: 10px;
	text-align: center;
	padding: 1vw;
}

.team-02__person_img_box {
	width: 100%;
	height: 100%;
	/*margin-bottom: 15px;
	margin-top: 10px;*/
	margin-left: auto;
	margin-right: auto;
	/*border-radius: 50%;*/
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
    /*padding: 1.5vh;
	border: 5px black solid;
	*/
}

.team-02__person_img {
	max-width: 100%;
	max-height: 100%
}

.team-02__person_name {
	margin-bottom: 15px;
	letter-spacing: 0.02em;
	font-size: 12px;
	font-weight: 700;
	/*text-transform: uppercase;*/
	text-align: justify;
	padding: 1.5vw;
	font-family: 'Press Start 2P', sans-serif;
}

.team-02__person_tag {
	background-color: transparent;
}

.team-role {
	color:var(--yellow-team);
	font-size: xx-large;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Press Start 2P', sans-serif;
	padding: 0.5vw;
	width: 100%;
	border-radius: 0px;
	background-color: black;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.team-02__person {
		cursor: pointer;
		width: 250px;
		/*padding: 25px 20px 10px;*/
		margin: 0 20px 40px;
		border-radius: 10px;
		text-align: center;
		padding: 0.5vw;
	}

	.team-role {
		font-size: larger;
	}
  }

.team-02__person_about {
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 1.6;
}

.team-02__person_social {
	margin-bottom: 15px
}

.team-02__person_social .social-buttons__link {
	opacity: 0.2
}

.team-02__person_social .social-buttons__link:hover {
	opacity: 0.5;
	-webkit-transform: translateY(-2px);
	transform: translateY(-2px)
}